In [1]:
import sys

#Due to leftoevererrors in Nathan's python installation, some cleaning up occurs here
#sys.path.append("./code/")
#sys.path.remove('/usr/local/lib/python2.7/site-packages') 

import pickle
import pandas as pd


from IPython.core.display import display,HTML
display(HTML("<style>.container { width:100% !important; }</style>"))  # to make the notebook use the entire width of the browser

In [ ]:


##########  i fix the paper_UT issue  (missing 000 before the number )

%time df_merged = pickle.load(open('../data/df_reference_cite_plos_merged.pkl', 'rb'))
print ("merged:", df_merged.shape)




# def fix_paper_UT(row):
#     paper_UT = row.paper_UT
#     return '000'+str(paper_UT)

# #df_testing = df_merged.head(1000)

# df_merged['new_paper_UT'] = df_merged.apply (lambda row: fix_paper_UT(row),axis=1)
# df_merged.drop(['paper_UT'], axis=1, inplace=True)
# df_merged.rename(columns={'new_paper_UT': 'paper_UT'}, inplace=True)

# df_merged[['paper_UT']]


# print ("done converting paper_UTs")


# df_merged = df_merged[df_merged['cite_count'] != -1]   # i dont know why, but there are 7 occurrences with value -1
# print ("merged after filering out -1:",df_merged.shape, len(list(df_merged.paper_UT.unique())))



# path = '../data/df_reference_cite_plos_merged.pkl'
# %time df_merged.to_pickle(path, compression='infer', protocol=2)
# print ("written:", path)








df_plos = df_merged.drop_duplicates(subset=['paper_UT'])
print ("plos:",df_plos.shape,"\n\n")

sorted(df_plos.columns)


# path = '../data/plos_paper_dataframe.pkl'
# %time df_plos.to_pickle(path, compression='infer', protocol=2)
# print ("written:", path)






df_plos_only_articles = df_plos[df_plos['plos_article_type']=='@ Article']

print (len(list(df_plos.paper_UT.unique())), len(list(df_plos_only_articles.paper_UT.unique())))

# path = '../data/plos_paper_dataframe_ONLY_ARTICLES.pkl'
# %time df_plos_only_articles.to_pickle(path, compression='infer', protocol=2)
# df_plos_only_articles.shape












df_references = df_merged.drop_duplicates(subset=['reference_UT'])
print ("references:",df_references.shape,"\n\n")


# path = '../data/references_dataframe.pkl'
# %time df_references.to_pickle(path, compression='infer', protocol=2)
# print ("written:", path)


print (sorted(df_merged.columns))

del df_merged

print ("deleted df_merged")



paper_UT_article_type = df_plos[['plos_article_type', 'paper_UT']]
paper_UT_article_type.shape


paper_UT_article_type = paper_UT_article_type[['plos_article_type', 'paper_UT']]


path = '../data/df_just_plos_paper_UT_article_type.pkl'
%time paper_UT_article_type.to_pickle(path, compression='infer', protocol=2)
print ("written:", path)

paper_UT_article_type.shape

In [3]:
paper_UT_article_type

         plos_article_type         paper_UT
0                @ Article  000324515600133
50               @ Article  000352084800063
113               R Review  000322590800016
341              @ Article  000358595900105
377              @ Article  000312910200007
416              @ Article  000254928800015
475              @ Article  000307437900020
533              @ Article  000271022300001
586              @ Article  000288809100001
637              @ Article  000317898000042
699              @ Article  000340900600101
726              @ Article  000339992600048
838              @ Article  000314610600088
907              @ Article  000337738600079
995              @ Article  000371219000046
1052             @ Article  000333348500101
1083             @ Article  000317562100169
1182             @ Article  000301568100034
1215             @ Article  000283487400016
1305             @ Article  000329168100034
1375             @ Article  000305349800001
1434             @ Article  000335227400109
1476             @ Article  000346375400043
1540             @ Article  000295260400013
1634             @ Article  000358162300178
1661             @ Article  000351284600215
1720             @ Article  000330829200125
1787             @ Article  000328735700121
1813             @ Article  000207455700009
1861             @ Article  000326034500017
...                    ...              ...
10846622         @ Article  000315184200141
10846679         @ Article  000363309200055
10846718         @ Article  000338508200083
10846779         @ Article  000315182800010
10846920         @ Article  000315157200053
10847000         @ Article  000323097300147
10847077         @ Article  000288170900013
10847132         @ Article  000315159200010
10847166         @ Article  000302730900024
10847229         @ Article  000352135600113
10847278         @ Article  000322218800025
10847328         @ Article  000371724200095
10847362         @ Article  000364422800018
10847417         @ Article  000305345300002
10847457         @ Article  000356835800140
10847503         @ Article  000332858400147
10847601         @ Article  000362175700087
10847685         @ Article  000367801400201
10847743         @ Article  000306837700045
10847870         @ Article  000334160900129
10847912         @ Article  000360144000021
10847936         @ Article  000295981600046
10848040         @ Article  000268637600003
10848152         @ Article  000347119100060
10848183         @ Article  000330507300151
10848259         @ Article  000320440500001
10848315         @ Article  000305349100026
10848385         @ Article  000325218700010
10848468         @ Article  000280243800017
10848556         @ Article  000321341000076

[158813 rows x 2 columns]

In [4]:
df_merged_simplified

,occurence,reference_UT,reference_rank,regex_sect_index,cite_count,ref_pub_year,paper_cite_count,plos_pub_year,sect_char_pos,sect_char_total,...,log2_num_cit_paper,diff_year_plos_ref,rel_loc_in_sect,plos_field,isolated_citation,paper_UT,total_refs,categ_codes,self_citation,number_authors
0,1,A1995QY75100004,1,0,60.0,1995.0,2,2013.0,139,4029,...,1.0,18.0,0.034500,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,0,5
1,2,A1995QY75100004,1,3,60.0,1995.0,2,2013.0,494,5398,...,1.0,18.0,0.091515,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,0,5
2,1,000222499800017,2,0,65.0,2004.0,2,2013.0,266,4029,...,1.0,9.0,0.066021,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,1,5
3,3,000222499800017,2,3,65.0,2004.0,2,2013.0,495,5398,...,1.0,9.0,0.091701,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,1,5
4,1,000263911400006,3,0,5.0,2009.0,2,2013.0,142,4029,...,1.0,4.0,0.035244,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,0,5
5,1,000289279600018,4,0,29.0,2011.0,2,2013.0,269,4029,...,1.0,2.0,0.066766,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,0,5
6,3,000289279600018,4,3,29.0,2011.0,2,2013.0,3844,5398,...,1.0,2.0,0.712116,['D RO MULTIDISCIPLINARY SCIENCES'],1,000324515600133,37,0 5,0,5
7,1,000287717700023,5,0,19.0,2011.0,2,2013.0,1635,4029,...,1.0,2.0,0.405808,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,0,5
8,1,000257589600013,7,0,27.0,2008.0,2,2013.0,2177,4029,...,1.0,5.0,0.540333,['D RO MULTIDISCIPLINARY SCIENCES'],1,000324515600133,37,0 5,0,5
9,2,000257589600013,7,3,27.0,2008.0,2,2013.0,2578,5398,...,1.0,5.0,0.477584,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,0,5
10,1,000246465200001,8,0,29.0,2007.0,2,2013.0,1638,4029,...,1.0,6.0,0.406552,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,0,5
11,3,000246465200001,8,3,29.0,2007.0,2,2013.0,2579,5398,...,1.0,6.0,0.477770,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,0,5
12,1,000238112100022,9,0,97.0,2006.0,2,2013.0,1754,4029,...,1.0,7.0,0.435344,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,1,5
13,1,000266227800006,10,0,270.0,2009.0,2,2013.0,1755,4029,...,1.0,4.0,0.435592,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,0,5
14,3,000266227800006,10,3,270.0,2009.0,2,2013.0,2580,5398,...,1.0,4.0,0.477955,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,0,5
15,1,000220879700004,12,0,743.0,2004.0,2,2013.0,2635,4029,...,1.0,9.0,0.654008,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,0,5
16,1,000177105200006,17,0,916.0,2002.0,2,2013.0,2638,4029,...,1.0,11.0,0.654753,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,0,5
17,1,000182540700009,18,0,463.0,2003.0,2,2013.0,3069,4029,...,1.0,10.0,0.761727,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,0,5
18,1,000227197300045,22,0,3116.0,2005.0,2,2013.0,3072,4029,...,1.0,8.0,0.762472,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,0,5
19,1,000299607700013,23,0,10.0,2012.0,2,2013.0,3224,4029,...,1.0,1.0,0.800199,['D RO MULTIDISCIPLINARY SCIENCES'],1,000324515600133,37,0 5,1,5
20,1,000290020400009,24,0,180.0,2011.0,2,2013.0,3368,4029,...,1.0,2.0,0.835939,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,0,5
21,2,000290020400009,24,3,180.0,2011.0,2,2013.0,2190,5398,...,1.0,2.0,0.405706,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,0,5
22,1,A1994NV95600001,26,0,113.0,1994.0,2,2013.0,3371,4029,...,1.0,19.0,0.836684,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,0,5
23,2,A1994NV95600001,26,3,113.0,1994.0,2,2013.0,2193,5398,...,1.0,19.0,0.406262,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,0,5
24,1,000256313500005,27,0,9.0,2008.0,2,2013.0,3780,4029,...,1.0,5.0,0.938198,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,0,5
25,1,000293136200014,28,0,16.0,2011.0,2,2013.0,3781,4029,...,1.0,2.0,0.938446,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,0,5
26,1,000174597100019,29,1,56.0,2002.0,2,2013.0,1217,5961,...,1.0,11.0,0.204160,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,0,5
27,1,000288797100011,30,2,71.0,2011.0,2,2013.0,3745,6345,...,1.0,2.0,0.590229,['D RO MULTIDISCIPLINARY SCIENCES'],1,000324515600133,37,0 5,0,5
28,1,000179315000003,31,2,23.0,2002.0,2,2013.0,5830,6345,...,1.0,11.0,0.918834,['D RO MULTIDISCIPLINARY SCIENCES'],1,000324515600133,37,0 5,0,5
29,2,000179315000003,31,3,23.0,2002.0,2,2013.0,3233,5398,...,1.0,11.0,0.598926,['D RO MULTIDISCIPLINARY SCIENCES'],1,000324515600133,37,0 5,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6924239,1,000088538000012,18,0,52.0,2000.0,2,2013.0,1755,2841,...,1.0,13.0,0.617740,['D RO MULTIDISCIPLINARY SCIENCES'],1,000321341000076,50,0 7 8,0,6
6924240,1,A1995RF14900014,20,0,52.0,1995.0,2,2013.0,2075,2841,...,1.0,18.0,0.730377,['D RO MULTIDISCIPLINARY SCIENCES'],0,000321341000076,50,0 7 8,0,6
6924241,1,000167525500001,21,3,22.0,2001.0,2,2013.0,1259,6899,...,1.0,12.0,0.182490,['D RO MULTIDISCIPLINARY SCIENCES'],0,000321341000076,50,0 7 8,0,6
6924242,1,A1992HZ04600007,22,0,20.0,1992.0,2,2013.0,2078,2841,...,1.0,21.0,0.731433,['D RO MULTIDISCIPLINARY SCIENCES'],0,000321341000076,50,0 7 8,0,6
6924243,1,000268812400008,23,0,3.0,2009.0,2,2013.0,2209,2841,...,1.0,4.0,0.777543,['D RO MULTIDISCIPLINARY SCIENCES'],1,000321341000076,50,0 7 8,1,6
6924244,2,000268812400008,23,3,3.0,2009.0,2,2013.0,184,6899,...,1.0,4.0,0.026671,['D RO MULTIDISCIPLINARY SCIENCES'],1,000321341000076,50,0 7 8,1,6
6924245,1,000285747900006,24,1,13.0,2011.0,2,2013.0,1759,3174,...,1.0,2.0,0.554190,['D RO MULTIDISCIPLINARY SCIENCES'],0,000321341000076,50,0 7 8,0,6
6924246,2,000285747900006,24,3,13.0,2011.0,2,2013.0,3224,6899,...,1.0,2.0,0.467314,['D RO MULTIDISCIPLINARY SCIENCES'],1,000321341000076,50,0 7 8,0,6
6924247,1,000090117600015,25,3,34.0,2000.0,2,2013.0,433,6899,...,1.0,13.0,0.062763,['D RO MULTIDISCIPLINARY SCIENCES'],1,000321341000076,50,0 7 8,0,6
6924248,1,000177854700008,26,3,30.0,2002.0,2,2013.0,667,6899,...,1.0,11.0,0.096681,['D RO MULTIDISCIPLINARY SCIENCES'],1,000321341000076,50,0 7 8,0,6
6924249,1,000247935300010,27,3,9.0,2007.0,2,2013.0,891,6899,...,1.0,6.0,0.129149,['D RO MULTIDISCIPLINARY SCIENCES'],1,000321341000076,50,0 7 8,0,6
6924250,1,A1982PW56700007,28,3,95.0,1982.0,2,2013.0,1261,6899,...,1.0,31.0,0.182780,['D RO MULTIDISCIPLINARY SCIENCES'],0,000321341000076,50,0 7 8,0,6
6924251,1,A1980KX98200001,29,3,488.0,1980.0,2,2013.0,1604,6899,...,1.0,33.0,0.232497,['D RO MULTIDISCIPLINARY SCIENCES'],0,000321341000076,50,0 7 8,0,6
6924252,1,000301971900007,30,3,15.0,2012.0,2,2013.0,1606,6899,...,1.0,1.0,0.232787,['D RO MULTIDISCIPLINARY SCIENCES'],0,000321341000076,50,0 7 8,0,6
6924253,1,000264005500007,32,3,12.0,2009.0,2,2013.0,1833,6899,...,1.0,4.0,0.265691,['D RO MULTIDISCIPLINARY SCIENCES'],1,000321341000076,50,0 7 8,0,6
6924254,1,000080163800019,33,3,154.0,1999.0,2,2013.0,2078,6899,...,1.0,14.0,0.301203,['D RO MULTIDISCIPLINARY SCIENCES'],0,000321341000076,50,0 7 8,0,6
6924255,1,000185745000010,34,3,15.0,2003.0,2,2013.0,2183,6899,...,1.0,10.0,0.316423,['D RO MULTIDISCIPLINARY SCIENCES'],1,000321341000076,50,0 7 8,0,6
6924256,1,A1982PH38400012,35,3,25.0,1982.0,2,2013.0,2278,6899,...,1.0,31.0,0.330193,['D RO MULTIDISCIPLINARY SCIENCES'],1,000321341000076,50,0 7 8,0,6
6924257,1,A1989AE93800008,36,3,7.0,1989.0,2,2013.0,2310,6899,...,1.0,24.0,0.334831,['D RO MULTIDISCIPLINARY SCIENCES'],1,000321341000076,50,0 7 8,0,6
6924258,1,000173977100041,37,3,73.0,2002.0,2,2013.0,3581,6899,...,1.0,11.0,0.519061,['D RO MULTIDISCIPLINARY SCIENCES'],1,000321341000076,50,0 7 8,0,6
6924259,1,000175801600018,38,3,85.0,2002.0,2,2013.0,4028,6899,...,1.0,11.0,0.583853,['D RO MULTIDISCIPLINARY SCIENCES'],0,000321341000076,50,0 7 8,0,6
6924260,1,000220747700018,39,3,19.0,2004.0,2,2013.0,4030,6899,...,1.0,9.0,0.584143,['D RO MULTIDISCIPLINARY SCIENCES'],0,000321341000076,50,0 7 8,0,6
6924261,1,000174377700007,40,3,59.0,2002.0,2,2013.0,4686,6899,...,1.0,11.0,0.679229,['D RO MULTIDISCIPLINARY SCIENCES'],0,000321341000076,50,0 7 8,0,6
6924262,1,000271586700013,41,3,7.0,2009.0,2,2013.0,4688,6899,...,1.0,4.0,0.679519,['D RO MULTIDISCIPLINARY SCIENCES'],0,000321341000076,50,0 7 8,0,6
6924263,1,000221871800012,42,3,9.0,2004.0,2,2013.0,4831,6899,...,1.0,9.0,0.700246,['D RO MULTIDISCIPLINARY SCIENCES'],0,000321341000076,50,0 7 8,0,6
6924264,1,A1954UF73200026,43,3,13.0,1954.0,2,2013.0,4975,6899,...,1.0,59.0,0.721119,['D RO MULTIDISCIPLINARY SCIENCES'],1,000321341000076,50,0 7 8,0,6
6924265,1,000176187500027,46,3,340.0,2002.0,2,2013.0,5470,6899,...,1.0,11.0,0.792869,['D RO MULTIDISCIPLINARY SCIENCES'],1,000321341000076,50,0 7 8,0,6
6924266,1,A1993LX59200002,47,3,172.0,1993.0,2,2013.0,5677,6899,...,1.0,20.0,0.822873,['D RO MULTIDISCIPLINARY SCIENCES'],0,000321341000076,50,0 7 8,0,6
6924267,1,000183262600008,49,3,31.0,2003.0,2,2013.0,5680,6899,...,1.0,10.0,0.823308,['D RO MULTIDISCIPLINARY SCIENCES'],0,000321341000076,50,0 7 8,0,6
6924268,1,000321228000014,50,3,7.0,2013.0,2,2013.0,5898,6899,...,1.0,0.0,0.854907,['D RO MULTIDISCIPLINARY SCIENCES'],1,000321341000076,50,0 7 8,0,6

In [7]:


#plos_only_articles.reset_index(inplace=True)

plos_only_articles

         plos_article_type         paper_UT
0                @ Article  000324515600133
50               @ Article  000352084800063
341              @ Article  000358595900105
377              @ Article  000312910200007
416              @ Article  000254928800015
475              @ Article  000307437900020
533              @ Article  000271022300001
586              @ Article  000288809100001
637              @ Article  000317898000042
699              @ Article  000340900600101
726              @ Article  000339992600048
838              @ Article  000314610600088
907              @ Article  000337738600079
995              @ Article  000371219000046
1052             @ Article  000333348500101
1083             @ Article  000317562100169
1182             @ Article  000301568100034
1215             @ Article  000283487400016
1305             @ Article  000329168100034
1375             @ Article  000305349800001
1434             @ Article  000335227400109
1476             @ Article  000346375400043
1540             @ Article  000295260400013
1634             @ Article  000358162300178
1661             @ Article  000351284600215
1720             @ Article  000330829200125
1787             @ Article  000328735700121
1813             @ Article  000207455700009
1861             @ Article  000326034500017
1906             @ Article  000293563300025
...                    ...              ...
10846622         @ Article  000315184200141
10846679         @ Article  000363309200055
10846718         @ Article  000338508200083
10846779         @ Article  000315182800010
10846920         @ Article  000315157200053
10847000         @ Article  000323097300147
10847077         @ Article  000288170900013
10847132         @ Article  000315159200010
10847166         @ Article  000302730900024
10847229         @ Article  000352135600113
10847278         @ Article  000322218800025
10847328         @ Article  000371724200095
10847362         @ Article  000364422800018
10847417         @ Article  000305345300002
10847457         @ Article  000356835800140
10847503         @ Article  000332858400147
10847601         @ Article  000362175700087
10847685         @ Article  000367801400201
10847743         @ Article  000306837700045
10847870         @ Article  000334160900129
10847912         @ Article  000360144000021
10847936         @ Article  000295981600046
10848040         @ Article  000268637600003
10848152         @ Article  000347119100060
10848183         @ Article  000330507300151
10848259         @ Article  000320440500001
10848315         @ Article  000305349100026
10848385         @ Article  000325218700010
10848468         @ Article  000280243800017
10848556         @ Article  000321341000076

[156610 rows x 2 columns]

In [2]:
###OR: 

%time paper_UT_article_type = pickle.load(open('../data/df_just_plos_paper_UT_article_type.pkl', 'rb'))
print ("merged:", paper_UT_article_type.shape)



%time df_merged_simplified = pickle.load(open('../data/df_reference_cite_plos_merged_simplified_added_more_columns.pkl', 'rb'))
print ("df_merged_simplified:", df_merged_simplified.shape)



plos_only_articles = paper_UT_article_type[paper_UT_article_type['plos_article_type']=='@ Article']
print (plos_only_articles.shape)

CPU times: user 19.4 ms, sys: 12.1 ms, total: 31.5 ms
Wall time: 71.6 ms
merged: (158813, 2)
CPU times: user 4.54 s, sys: 913 ms, total: 5.45 s
Wall time: 18 s
df_merged_simplified: (6924269, 24)

In [8]:


df_merged_simplified_plus_article_type = pd.merge(df_merged_simplified, plos_only_articles, on='paper_UT', how='inner')





path = '../data/df_reference_cite_plos_merged_simplified_added_more_columns_ONLY_ARTICLES.pkl'
%time df_merged_simplified_plus_article_type.to_pickle(path, compression='infer', protocol=2)
print ("written:", path, df_merged_simplified_plus_article_type.shape)



df_merged_simplified_plus_article_type.head()

CPU times: user 8.35 s, sys: 3.03 s, total: 11.4 s
Wall time: 28.2 s
written: ../data/df_reference_cite_plos_merged_simplified_added_more_columns_ONLY_ARTICLES.pkl (6846796, 25)

,occurence,reference_UT,reference_rank,regex_sect_index,cite_count,ref_pub_year,paper_cite_count,plos_pub_year,sect_char_pos,sect_char_total,...,diff_year_plos_ref,rel_loc_in_sect,plos_field,isolated_citation,paper_UT,total_refs,categ_codes,self_citation,number_authors,plos_article_type
0,1,A1995QY75100004,1,0,60.0,1995.0,2,2013.0,139,4029,...,18.0,0.034500,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,0,5,@ Article
1,2,A1995QY75100004,1,3,60.0,1995.0,2,2013.0,494,5398,...,18.0,0.091515,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,0,5,@ Article
2,1,000222499800017,2,0,65.0,2004.0,2,2013.0,266,4029,...,9.0,0.066021,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,1,5,@ Article
3,3,000222499800017,2,3,65.0,2004.0,2,2013.0,495,5398,...,9.0,0.091701,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,1,5,@ Article
4,1,000263911400006,3,0,5.0,2009.0,2,2013.0,142,4029,...,4.0,0.035244,['D RO MULTIDISCIPLINARY SCIENCES'],0,000324515600133,37,0 5,0,5,@ Article

In [11]:
df_merged_simplified_plus_article_type.shape
len(df_merged_simplified_plus_article_type.reference_UT.unique())

2581598

In [18]:
#### i remove records corresponding to the same reference cited more than once in a given section of a given paper

df_selection = df_merged_simplified_plus_article_type.drop_duplicates(subset=['reference_UT','paper_UT','regex_sect_index'])
print (df_selection.shape)


### i remove self-citations
df_selection = df_selection[df_selection['self_citation']==0]
print (df_selection.shape)

#plos_only_articles = paper_UT_article_type[paper_UT_article_type['plos_article_type']=='@ Article']




path = '../data/df_reference_cite_plos_merged_simplified_added_more_columns_no_self-cit_one_ref_per_sect_ONLY_ARTICLES.pkl'
%time df_selection.to_pickle(path, compression='infer', protocol=2)
print ("written:", path, df_selection.shape)

(6846796, 25)
(5787634, 25)

In [23]:
len(df_selection.reference_UT.unique())

2320777

In [24]:
len(df_selection.paper_UT.unique())

156558

In [22]:
df_selection.self_citation.unique()

array([0])

In [25]:
print (df_selection.shape)

(5787634, 25)

CPU times: user 8.83 s, sys: 3.06 s, total: 11.9 s
Wall time: 54.3 s
written: ../data/df_reference_cite_plos_merged_simplified_added_more_columns_no_self-cit_one_ref_per_sect_ONLY_ARTICLES.pkl (5787634, 25)

In [ ]:



# new_df_plos = pd.merge(plos_df, df_plos_UT_type, on='paper_UT', how='inner')




# df_plos_only_articles = df_plos[['paper_UT','plos_article_type']]
# print (df_plos_only_articles.shape, len(list(df_plos_only_articles.paper_UT.unique())) )
# df_plos_only_articles.head()



# new_df_plos = pd.merge(plos_df, df_plos_UT_type, on='paper_UT', how='inner')

In [ ]:
# len(list(df_plos_only_articles.paper_UT.unique()))

In [ ]:


# new_merged = df_merged.join(df_plos_UT_type_only_articles, on='paper_UT')

# print (new_df_merged.shape)
# new_df_merged.head()

In [ ]:



# df_plos_UT_type = old_df_plos[['paper_UT','plos_article_type']]




# new_df_plos = pd.merge(plos_df, df_plos_UT_type, on='paper_UT', how='inner')




# old_df_plos.reset_index(level=0, inplace=True)  # to convert index into a column

# old_df_plos.head()


# path = '../data/plos_paper_dataframe.pkl'
# %time old_df_plos.to_pickle(path, compression='infer', protocol=2)

#old_df_plos.head()

# old_df_plos.plos_article_type.value_counts()

# # @ Article               156824
# # R Review                  1469
# # E Editorial Material       746
# # C Correction                10
# # L Letter                     4
# # I Biographical-Item          4

# lista_review_UTs =old_df_plos[old_df_plos['plos_article_type']=='R Review']['paper_UT'].tolist()   
# lista_article_UTs =old_df_plos[old_df_plos['plos_article_type']=='@ Article']['paper_UT'].tolist()   
# lista_editorial_UTs =old_df_plos[old_df_plos['plos_article_type']=='E Editorial Material']['paper_UT'].tolist()   
# lista_correction_UTs =old_df_plos[old_df_plos['plos_article_type']=='C Correction']['paper_UT'].tolist()   

# print ("   # reviews:",len(set(lista_review_UTs)),"   # articles:",len(set(lista_article_UTs)), "   # editorials:",len(set(lista_editorial_UTs)), "   # corrections:",len(set(lista_correction_UTs)))
print (new_df_plos.shape)

new_df_plos.head()

In [ ]:
print (new_df_plos.plos_article_type.value_counts())





path = '../data/plos_paper_dataframe_ONLY_ARTICLES.pkl'       # 156,538
%time df_plos_only_articles.to_pickle(path, compression='infer', protocol=2)

In [ ]:


df_plos_UT_type_only_articles = old_df_plos[['paper_UT','plos_article_type']]
df_plos_UT_type_only_articles = df_plos_UT_type_only_articles[df_plos_UT_type_only_articles['plos_article_type']=='@ Article']
print(df_plos_UT_type_only_articles.shape)
df_plos_UT_type_only_articles

In [ ]:
# lista_UT = list(df_merged.paper_UT.unique())
# lista_UT

# lista_UT2 = list(df_plos_UT_type_only_articles.paper_UT.unique())
# lista_UT2


print (len(lista_UT), len(lista_UT2))