In [1]:
import sys
import pandas as pd
import csv
import numpy as np
import pickle
sys.path.append("../../code")


from IPython.core.display import display,HTML
display(HTML("<style>.container { width:100% !important; }</style>"))  # to make the notebook use the entire width of the browser





import plotly.plotly as py
import plotly.graph_objs as go


# i only need my credentials if i want to plot online --- and send plots to server (limits per day apply!)
#import plotly.tools as tls
#tls.set_credentials_file(username='juliettapc', api_key='deyNIvtOoDZ5PLmrHlhd')  # my plotly account credentials


########## to be able to plot offline (without sending the plots to the plotly server every time)
import plotly.offline as offline
from plotly.graph_objs import *
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

init_notebook_mode(connected=True)

In [3]:
# Connect to database
from MongoConnection import MongoConnection

occ_settings = {
    "host": "chicago.chem-eng.northwestern.edu",
    "port": "27017",
    "db": "plos_citation_position",
    "collection": "occurrences",
    "user": "mongoreader",
    "password": "emptycoffeecup"
}

occ_con = MongoConnection(occ_settings)

In [4]:
def write_mongodb_to_file(db, fname, query={}):
    """ Write a mongodb to a csv file. Due to memory issues, this looping method was chosen rather than converting to dataframe
    immediately. Can potentially work with just the csv, but pickle is assumed for most other notebooks. HDF would be
    better still, but had issues with assembly"""

    size_db = occ_con.collection.count()
    
    rows_done = 0
    batch_size = 100000 # number of rows to retrieve, can bump up on better computers
    
    # If connection is interrupted, can change this start bound to the last lower_bound printed. 
    # Also turn header_flag off if continuing in this way
    lower_bound = 0 
    header_flag = True
    
    while lower_bound < size_db:
        
        cursor = db.collection.find(query).limit(batch_size).skip(lower_bound) # query database
        
        df =  pd.DataFrame(list(cursor)) 
        #df['paper_UT'] = df['paper_UT'].astype(str) # After solving most errors, this should be unnecessary. Turn back on if something goes wrong with this column
        
        del df['_id']
        print('----------')
        df.to_csv(fname, mode='a', sep='\t', header=header_flag, encoding='utf-8')
        lower_bound += batch_size
        header_flag = False # Turn off headers after first one
        print(lower_bound)

    return lower_bound

In [2]:
write_mongodb_to_file(occ_con, '../../data/itcs.csv', query={})

NameError: name 'write_mongodb_to_file' is not defined

In [ ]:
# If there's some interruption, you can check where the file stopped appending

#input_file = open("../../data/itcs.csv","r+")
#reader_file = csv.reader(input_file)
#value = len(list(reader_file))

In [3]:
# Had some issues with strings and such occuring in certain numeric columns, this function is passed to the converter option of pd.read_csv
# Columns like the first one, 'cite_count' also could be just as easily represented as int64, but again, some conversion issues. In this case, it's not a huge problem
def to_npint(val):
    return np.int64(val)

In [4]:
# Read as csv - ignore the first column of dummy indexing. Remember to change non-robust usecols range value if new columns are added to mongo database
df = pd.read_csv('../../data/itcs.csv', sep='\t', usecols=range(40)[1:], converters= {'paper_cite_count': to_npint})

In [5]:
df.shape

(10848620, 39)

## Now some preprocessing can be done here as well. Primary two factors are regex section-assignment and datetime processing, these are added as new columns

## Both functions may be altered in the code

In [6]:
# Here's where we might run into issues. With the conversion to mongo and then back to csv and into dataframe, there
# may be some issues with previous functions. The main culprit is the multiple NaN types. To get around this, for
# string columns with NaNs, I'm converting the NaNs to empty strings, which allow the string methods needs to do
# preprocessing and analysis
nan_cols = df.columns[df.dtypes=='object']
df[nan_cols]=df[nan_cols].fillna('')

In [8]:
# Preprocessing for section-mapping with regular expressions as well as conversion from numerics and text to datetime
# for publication date takes times, so it's better to have it done here.

# Note that section_regex_parser can be changed depending on target section ids, while datetime_filler can be changed
# to use different assumptions for date assignment when missing specific day fields. Seed for random set for continuity
from itc_preprocessing import section_regex_parser, datetime_filler
import random
random.seed(111)

In [9]:
# Here we use the parser on the sect_title and sect_title_altcolumns in the df. This gives a list of string matches. 
# This is remapped to indices, and then added to the new column
judgement = section_regex_parser(df)
judgement_2 = []
sect_index_dict = {'intro': 0, 'methods': 1, 'results': 2, 'disc': 3, 'res_disc':4, 'concl':5, 'mixed':6, 'na':7}
for i in judgement:
    judgement_2.append(sect_index_dict[i])
df['regex_sect_index'] = judgement_2

100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000
7200000
7300000
7400000
7500000
7600000
7700000
7800000
7900000
8000000
8100000
8200000
8300000
8400000
8500000
8600000
8700000
8800000
8900000
9000000
9100000
9200000
9300000
9400000
9500000
9600000
9700000
9800000
9900000
10000000
10100000
10200000
10300000
10400000
10500000
10600000
10700000
10800000

In [10]:
# Then, we make datetime columns for both PLOS and reference papers.

dt_ = datetime_filler(df, 'ref_pub_date', 'ref_pub_year')
dt_plos_ = datetime_filler(df, 'plos_pub_date', 'plos_pub_year')

df['ref_datetime'] = dt_
df['plos_datetime'] = dt_plos_

['0']
    0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000
7200000
7300000
7400000
7500000
7600000
7700000
7800000
7900000
8000000
8100000
8200000
8300000
8400000
8500000
8600000
8700000
8800000
8900000
9000000
9100000
9200000
9300000
9400000
9500000
9600000
9700000
9800000
9900000
10000000
10100000
10200000
10300000
10400000
10500000
10600000
10700000
10800000
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000
7200000
7300000
7400000
7500000
7600000
7700000
7800000
7900000
8000000
8100000
8200000
8300000
8400000
8500000
8600000
8700000
8800000
8900000
9000000
9100000
9200000
9300000
9400000
9500000
9600000
9700000
9800000
9900000
10000000
10100000
10200000
10300000
10400000
10500000
10600000
10700000
10800000

## Depending on your preference, you can work with the csv straight away, though previous
## function will have issues.
## Since programs already have a pickle load setup, here's a couple options.

## Split and save to 3 pickle files, or save full pickle, your choice.

### Option 1: Split

In [12]:
# Now to make our two smaller dataframes with the new data, simply select the associated colummns.
# (The ref_dataframe_min df doesn't include any additional info gathered this way, so it's just these two)

plos_df = df[['paper_UT','paper_cite_count','total_refs', 'paper_char_total', 'paper_word_total', 'plos_pub_date', 'plos_pub_year', 'plos_article_type', 'plos_field', 'plos_j1', 'plos_j2', 'plos_j9', 'plos_ji']]
citation_df = df[['reference_UT','cite_count','ref_pub_date','ref_pub_year', 'ref_article_type', 'ref_field', 'ref_j1', 'ref_j2', 'ref_j9', 'ref_ji']]

# Drop all non-unique fields. Note that coincidentally overlapping rows with -1 for ut will be dropped as well
plos_df_unique = plos_df.drop_duplicates('paper_UT')
citation_df_unique = citation_df.drop_duplicates('reference_UT')



# For completeness, then drop all non-UT fields that are already contained in the plos_df and citation_df dataframes
ref_df_min = df.drop(['paper_cite_count','total_refs', 'paper_char_total', 'paper_word_total', 'plos_pub_date', 'plos_pub_year', 'plos_article_type', 'cite_count','ref_pub_date','ref_pub_year', 'ref_article_type', 'plos_field','ref_field', 'plos_field', 'plos_j1', 'ref_j1', 'ref_j2',
       'ref_j9', 'ref_ji', 'plos_j2', 'plos_j9', 'plos_ji'], 1)

In [13]:
del df # to avoid memory issues when writing, i delete the original df

In [14]:
# Reassign the index to be the respective UT column. May have to manually drop non-information rows with 
#(indicated by a -1 UT, as no information is possible to be matched in primary dataframe)

plos_df_small = plos_df_unique.set_index('paper_UT')
#plos_df_small = plos_df_small.drop(-1,0)
citation_df_small = citation_df_unique.set_index('reference_UT')
#citation_df_small = citation_df_small.drop(-1,0)

In [15]:
#Lastly, pickle them
with open('../../data/plos_paper_dataframe.pkl', 'wb') as handle:
    pickle.dump(plos_df_small, handle, protocol = 2)
print ("written: ../../data/plos_paper_dataframe.pkl")

with open('../../data/citation_dataframe.pkl', 'wb') as handle:
    pickle.dump(citation_df_small, handle, protocol = 2)
print ("written: ../../data/citation_dataframe.pkl")    

with open('../../data/ref_dataframe_min.pkl', 'wb') as handle:
    pickle.dump(ref_df_min, handle, protocol = 2)
print ("written: ../../data/ref_dataframe_min.pkl")

written: ../../data/plos_paper_dataframe.pkl
written: ../../data/citation_dataframe.pkl
written: ../../data/ref_dataframe_min.pkl

In [16]:
plos_df_small

,paper_cite_count,total_refs,paper_char_total,paper_word_total,plos_pub_date,plos_pub_year,plos_article_type,plos_field,plos_j1,plos_j2,plos_j9,plos_ji
paper_UT,,,,,,,,,,,,
324515600133,2,37,21733,3780,SEP 4,2013.0,@ Article,D RO MULTIDISCIPLINARY SCIENCES,PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
352084800063,2,41,29908,5312,MAR 31,2015.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
322590800016,19,86,41379,7201,JUL,2013.0,R Review,"['D PY MEDICINE, GENERAL & INTERNAL']",PLOS MED,PLOS MED,PLOS MED,PLos Med.
358595900105,1,17,15208,2615,JUL 28,2015.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
312910200007,8,33,16838,3033,DEC,2012.0,@ Article,"['D TI PARASITOLOGY', 'D YU TROPICAL MEDICINE']",PLO NE TR D,PLOS NEGLECT TROP D,PLOS NEGLECTED TROP DIS,Plos Neglect. Trop. Dis.
254928800015,98,47,21778,3839,FEB,2008.0,@ Article,"['D PY MEDICINE, GENERAL & INTERNAL']",PLOS MED,PLOS MED,PLOS MED,PLos Med.
307437900020,25,53,39062,6657,AUG 7,2012.0,@ Article,"['D CU BIOLOGY', 'D RO MULTIDISCIPLINARY SCIEN...",PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
271022300001,1,34,32249,6027,OCT 23,2009.0,@ Article,D CU BIOLOGY,PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
288809100001,12,65,25717,4406,MAR 22,2011.0,@ Article,D CU BIOLOGY,PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
317898000042,7,44,26456,4625,APR 8,2013.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
340900600101,2,24,14252,2503,AUG 13,2014.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
339992600048,6,74,28589,4785,JUL 25,2014.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
314610600088,6,54,19219,3499,JAN 31,2013.0,@ Article,D RO MULTIDISCIPLINARY SCIENCES,PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
337738600079,9,61,26049,4788,JUN 16,2014.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
371219000046,0,50,24485,4601,FEB 16,2016.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
333348500101,8,19,11841,2019,MAR 19,2014.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
317562100169,12,76,44723,7617,MAR 19,2013.0,@ Article,D RO MULTIDISCIPLINARY SCIENCES,PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
301568100034,33,29,19559,3414,JAN 20,2012.0,@ Article,"['D CU BIOLOGY', 'D RO MULTIDISCIPLINARY SCIEN...",PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
283487400016,9,61,54637,9663,OCT 26,2010.0,@ Article,D CU BIOLOGY,PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
329168100034,5,29,21259,3959,DEC,2013.0,@ Article,"['D TI PARASITOLOGY', 'D YU TROPICAL MEDICINE']",PLO NE TR D,PLOS NEGLECT TROP D,PLOS NEGLECTED TROP DIS,Plos Neglect. Trop. Dis.
305349800001,4,39,31550,5621,MAY 4,2012.0,@ Article,"['D CU BIOLOGY', 'D RO MULTIDISCIPLINARY SCIEN...",PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
335227400109,5,37,13924,2450,APR 21,2014.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
346375400043,3,34,20433,3637,DEC 12,2014.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
295260400013,6,60,46257,7729,SEP 20,2011.0,@ Article,['D CU BIOLOGY'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
358162300178,0,39,11589,2034,JUL 10,2015.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
351284600215,0,54,31985,5745,MAR 17,2015.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
330829200125,44,64,24833,4122,FEB 5,2014.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
328735700121,17,19,23090,4058,DEC 16,2013.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
207455700009,26,39,15228,2669,SEP 19,2007.0,@ Article,D CU BIOLOGY,PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
326034500017,8,43,20354,3764,OCT 22,2013.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
...,...,...,...,...,...,...,...,...,...,...,...,...
315184200141,0,43,24470,4149,FEB 20,2013.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
363309200055,2,42,35577,6285,OCT 23,2015.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
338508200083,2,59,56458,9602,JUN 18,2014.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
315182800010,13,75,46614,8631,FEB 19,2013.0,@ Article,D RO MULTIDISCIPLINARY SCIENCES,PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
315157200053,28,56,33320,6308,FEB 7,2013.0,@ Article,D RO MULTIDISCIPLINARY SCIENCES,PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
323097300147,31,46,28844,4980,AUG 12,2013.0,@ Article,D RO MULTIDISCIPLINARY SCIENCES,PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
288170900013,15,40,18766,3420,MAR 9,2011.0,@ Article,D CU BIOLOGY,PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
315159200010,14,20,22197,3954,FEB 18,2013.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
302730900024,10,36,18163,3197,FEB 10,2012.0,@ Article,"['D CU BIOLOGY', 'D RO MULTIDISCIPLINARY SCIEN...",PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
352135600113,0,45,20399,3588,APR 1,2015.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
322218800025,12,46,31929,5578,JUL 11,2013.0,@ Article,D RO MULTIDISCIPLINARY SCIENCES,PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
371724200095,0,34,23346,4196,MAR 2,2016.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
364422800018,1,47,32990,6157,NOV 9,2015.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
305345300002,16,39,32832,5975,MAY 22,2012.0,@ Article,"['D CU BIOLOGY', 'D RO MULTIDISCIPLINARY SCIEN...",PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
356835800140,1,39,18149,3322,JUN 22,2015.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
332858400147,9,63,30309,5373,MAR 14,2014.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
362175700087,1,63,38562,7355,SEP 30,2015.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
367801400201,0,34,23286,4895,JAN 5,2016.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
306837700045,26,77,37954,6695,JUL,2012.0,@ Article,"['D QU MICROBIOLOGY', 'D TI PARASITOLOGY', 'D ...",PLOS PATHOG,PLOS PATHOG,PLOS PATHOG,PLoS Pathog.
334160900129,6,31,15471,2833,APR 8,2014.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
360144000021,0,16,20818,3665,AUG 27,2015.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
295981600046,14,65,38324,6798,OCT 14,2011.0,@ Article,D CU BIOLOGY,PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
268637600003,21,50,36909,6580,JUL 31,2009.0,@ Article,D CU BIOLOGY,PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
347119100060,2,31,35166,6666,DEC 31,2014.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
330507300151,13,51,35146,6120,JAN 27,2014.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
320440500001,24,56,34154,6021,JUN 10,2013.0,@ Article,D RO MULTIDISCIPLINARY SCIENCES,PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
305349100026,21,46,20916,3625,APR 26,2012.0,@ Article,"['D CU BIOLOGY', 'D RO MULTIDISCIPLINARY SCIEN...",PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
325218700010,3,58,27027,4991,SEP 25,2013.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
280243800017,15,67,34142,5926,JUL 23,2010.0,@ Article,D CU BIOLOGY,PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
321341000076,2,50,14583,2455,JUL 2,2013.0,@ Article,['D RO MULTIDISCIPLINARY SCIENCES'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One

In [17]:
citation_df_small

,cite_count,ref_pub_date,ref_pub_year,ref_article_type,ref_field,ref_j1,ref_j2,ref_j9,ref_ji
reference_UT,,,,,,,,,
A1995QY75100004,60.0,MAY,1995.0,@ Article,D ZA UROLOGY & NEPHROLOGY,AM J KIDNEY,AM J KIDNEY DIS,AMER J KIDNEY DIS,Am. J. Kidney Dis.
000222499800017,65.0,JUN,2004.0,@ Article,D ZA UROLOGY & NEPHROLOGY,AM J KIDNEY,AM J KIDNEY DIS,AMER J KIDNEY DIS,Am. J. Kidney Dis.
000263911400006,5.0,APR,2009.0,@ Article,"['D YP TRANSPLANTATION', 'D YA SURGERY']",TRANSPLAN I,TRANSPL INT,TRANSPLANT INT,Transpl. Int.
000289279600018,29.0,MAY,2011.0,@ Article,['D ZA UROLOGY & NEPHROLOGY'],J UROL,J UROLOGY,J UROL,J. Urol.
000287717700023,19.0,,2011.0,@ Article,['D ZA UROLOGY & NEPHROLOGY'],CONTR NEPHR,CONTRIB NEPHROL,CONTRIB NEPHROL,Contrib.Nephrol.
-1,NaN,,NaN,,,,,,
000257589600013,27.0,AUG,2008.0,R Review,D ZA UROLOGY & NEPHROLOGY,J UROL,J UROLOGY,J UROL,J. Urol.
000246465200001,29.0,APR,2007.0,R Review,D DR CELL BIOLOGY,BIOCELL,BIOCELL,BIOCELL,Biocell
000238112100022,97.0,JUN,2006.0,@ Article,['D ZA UROLOGY & NEPHROLOGY'],KIDNEY INT,KIDNEY INT,KIDNEY INT,Kidney Int.
000266227800006,270.0,JUN,2009.0,R Review,D ZA UROLOGY & NEPHROLOGY,KIDNEY INT,KIDNEY INT,KIDNEY INT,Kidney Int.
000220879700004,743.0,APR 19,2004.0,R Review,"['D CQ BIOCHEMISTRY & MOLECULAR BIOLOGY', 'D D...",ONCOGENE,ONCOGENE,ONCOGENE,Oncogene
000177105200006,916.0,JUL 26,2002.0,@ Article,"['D CQ BIOCHEMISTRY & MOLECULAR BIOLOGY', 'D D...",CELL,CELL,CELL,Cell
000182540700009,463.0,APR,2003.0,@ Article,"['D CQ BIOCHEMISTRY & MOLECULAR BIOLOGY', 'D D...",MOL CELL,MOL CELL,MOL CELL,Mol. Cell
000227197300045,3116.0,FEB 18,2005.0,@ Article,D RO MULTIDISCIPLINARY SCIENCES,SCIENCE,SCIENCE,SCIENCE,Science
000299607700013,10.0,JAN-FEB,2012.0,@ Article,"['D ZA UROLOGY & NEPHROLOGY', 'D DM ONCOLOGY']",UROL ON-SEM,UROL ONCOL-SEMIN ORI,UROL ONCOL-SEMIN ORIG INVESTI,Urol. Oncol.-Semin. Orig. Investig.
000290020400009,180.0,MAY 1,2011.0,@ Article,['D DM ONCOLOGY'],CANCER RES,CANCER RES,CANCER RES,Cancer Res.
A1994NV95600001,113.0,JUL 15,1994.0,N Note,D DM ONCOLOGY,CANCER RES,CANCER RES,CANCER RES,Cancer Res.
000256313500005,9.0,JUN,2008.0,@ Article,"['D TQ PEDIATRICS', 'D YA SURGERY']",EUR J PED S,EUR J PEDIATR SURG,EUR J PEDIATR SURG,Eur. J. Pediatr. Surg.
000293136200014,16.0,AUG,2011.0,@ Article,D ZA UROLOGY & NEPHROLOGY,WORLD J URO,WORLD J UROL,WORLD J UROL,World J. Urol.
000174597100019,56.0,MAR 15,2002.0,@ Article,D DM ONCOLOGY,J CL ONCOL,J CLIN ONCOL,J CLIN ONCOL,J. Clin. Oncol.
000288797100011,71.0,APR 1,2011.0,@ Article,['D CQ BIOCHEMISTRY & MOLECULAR BIOLOGY'],J BIOL CHEM,J BIOL CHEM,J BIOL CHEM,J. Biol. Chem.
000179315000003,23.0,OCT,2002.0,R Review,"D PY MEDICINE, GENERAL & INTERNAL",POSTG MED J,POSTGRAD MED J,POSTGRAD MED J,Postgrad. Med. J.
000276742200012,31.0,MAY,2010.0,@ Article,D YO TOXICOLOGY,TOXICOL SCI,TOXICOL SCI,TOXICOL SCI,Toxicol. Sci.
000275109000015,40.0,MAR,2010.0,@ Article,D ZA UROLOGY & NEPHROLOGY,AM J KIDNEY,AM J KIDNEY DIS,AMER J KIDNEY DIS,Am. J. Kidney Dis.
000282273900001,54.0,OCT,2010.0,R Review,"['D QA MEDICINE, RESEARCH & EXPERIMENTAL', 'D ...",LAB INV,LAB INVEST,LAB INVEST,Lab. Invest.
000301067700008,9.0,MAR,2012.0,@ Article,['D DM ONCOLOGY'],JPN J CLIN,JPN J CLIN ONCOL,JPN J CLIN ONCOL,Jpn. J. Clin. Oncol.
000286412500005,33.0,JAN-FEB,2011.0,@ Article,"['D ZA UROLOGY & NEPHROLOGY', 'D DM ONCOLOGY']",UROL ON-SEM,UROL ONCOL-SEMIN ORI,UROL ONCOL-SEMIN ORIG INVESTI,Urol. Oncol.-Semin. Orig. Investig.
000088374400026,477.0,JUL 25,2000.0,R Review,"['D MA HEMATOLOGY', 'D ZD PERIPHERAL VASCULAR ...",CIRCULATION,CIRCULATION,CIRCULATION,Circulation
000286133900010,28.0,JAN 18,2011.0,E Editorial Material,D DQ CARDIAC & CARDIOVASCULAR SYSTEMS,J AM COL C,J AM COLL CARDIOL,J AMER COLL CARDIOL,J. Am. Coll. Cardiol.
000255775700025,52.0,JAN 1,2008.0,R Review,"['D DR CELL BIOLOGY', 'D CQ BIOCHEMISTRY & MOL...",FRONT BIOSC,FRONT BIOSCI-LANDMRK,FRONT BIOSCI,Front. Biosci.
...,...,...,...,...,...,...,...,...,...
A1983RL72700020,53.0,,1983.0,@ Article,"['K UM PHYSIOLOGY', 'D UM PHYSIOLOGY']",J PHYSL LON,J PHYSIOL-LONDON,J PHYSIOL-LONDON,J. Physiol.-London
A1987G612700012,54.0,,1987.0,@ Article,D RU NEUROSCIENCES,EXP BRAIN R,EXP BRAIN RES,EXP BRAIN RES,Exp. Brain Res.
000237608400005,37.0,MAY 17,2006.0,@ Article,D RU NEUROSCIENCES,J NEUROSC,J NEUROSCI,J NEUROSCI,J. Neurosci.
A1990CU27900002,23.0,MAR,1990.0,@ Article,"['D RU NEUROSCIENCES', 'D UM PHYSIOLOGY']",J NEURPHYSL,J NEUROPHYSIOL,J NEUROPHYSIOL,J. Neurophysiol.
000220010800004,37.0,APR 5,2004.0,@ Article,"['D RU NEUROSCIENCES', 'D ZM ZOOLOGY']",J COMP NEUR,J COMP NEUROL,J COMP NEUROL,J. Comp. Neurol.
A1995QL21100003,202.0,FEB 13,1995.0,@ Article,D RU NEUROSCIENCES,J COMP NEUR,J COMP NEUROL,J COMP NEUROL,J. Comp. Neurol.
000269622500008,18.0,SEP 9,2009.0,@ Article,['D CU BIOLOGY'],PLOS ONE,PLOS ONE,PLOS ONE,PLoS One
000228528700003,9.0,MAY,2005.0,@ Article,"['D CQ BIOCHEMISTRY & MOLECULAR BIOLOGY', 'D D...",PLANT SCI,PLANT SCI,PLANT SCI,Plant Sci.
000187550700012,26.0,FEB,2004.0,@ Article,D DE PLANT SCIENCES,NEW PHYTOL,NEW PHYTOL,NEW PHYTOL,New Phytol.
000089428100005,16.0,SEP,2000.0,@ Article,D DE PLANT SCIENCES,LICHENOLOGI,LICHENOLOGIST,LICHENOLOGIST,Lichenologist
000088041300002,28.0,JUN,2000.0,@ Article,"['D KA FORESTRY', 'D DE PLANT SCIENCES', 'D GU...",PLANT ECOL,PLANT ECOL,PLANT ECOL,Plant Ecol.
A1982PA31000007,71.0,,1982.0,@ Article,"['K XE AGRICULTURE, SOIL SCIENCE', 'D XE AGRIC...",SOIL SCI,SOIL SCI,SOIL SCI,Soil Sci.
000088538000012,52.0,AUG 3,2000.0,@ Article,D RO MULTIDISCIPLINARY SCIENCES,NATURE,NATURE,NATURE,Nature
A1995RF14900014,52.0,JUN,1995.0,@ Article,D DE PLANT SCIENCES,CAN J BOTAN,CAN J BOT,CAN J BOT,Can. J. Bot.-Rev. Can. Bot.
000167525500001,22.0,MAR,2001.0,@ Article,D RQ MYCOLOGY,MYCORRHIZA,MYCORRHIZA,MYCORRHIZA,Mycorrhiza
A1992HZ04600007,20.0,MAY,1992.0,@ Article,"D XE AGRICULTURE, SOIL SCIENCE",SOIL BIOL B,SOIL BIOL BIOCHEM,SOIL BIOL BIOCHEM,Soil Biol. Biochem.
000268812400008,3.0,MAR-JUN,2009.0,@ Article,D XE SOIL SCIENCE,REV BRAS CI,REV BRAS CIENC SOLO,REV BRAS CIENC SOLO,Rev. Bras. Cienc. Solo
000247935300010,9.0,JUL,2007.0,@ Article,"['D DR CELL BIOLOGY', 'D DE PLANT SCIENCES']",PROTOPLASMA,PROTOPLASMA,PROTOPLASMA,Protoplasma
A1982PW56700007,95.0,,1982.0,@ Article,"['K DE PLANT SCIENCES', 'D DE PLANT SCIENCES']",NEW PHYTOL,NEW PHYTOL,NEW PHYTOL,New Phytol.
000264005500007,12.0,MAR-APR,2009.0,@ Article,D DE PLANT SCIENCES,INT J PL SC,INT J PLANT SCI,INT J PLANT SCI,Int. J. Plant Sci.
000185745000010,15.0,,2003.0,@ Article,D DE PLANT SCIENCES,AUST J BOT,AUST J BOT,AUST J BOT,Aust. J. Bot.
A1982PH38400012,25.0,,1982.0,@ Article,"['K DE PLANT SCIENCES', 'D DE PLANT SCIENCES']",CAN J BOTAN,CAN J BOT,CAN J BOT,Can. J. Bot.-Rev. Can. Bot.
A1989AE93800008,7.0,JUN,1989.0,@ Article,D DE PLANT SCIENCES,CAN J BOTAN,CAN J BOT,CAN J BOT,Can. J. Bot.-Rev. Can. Bot.
000173977100041,73.0,FEB,2002.0,@ Article,D DE PLANT SCIENCES,PLANT PHYSL,PLANT PHYSIOL,PLANT PHYSIOL,Plant Physiol.
000220747700018,19.0,APR,2004.0,@ Article,"['D EI CHEMISTRY, PHYSICAL', 'D PM MATERIALS S...",NAT MATER,NAT MATER,NAT MATER,Nat. Mater.
000271586700013,7.0,,2009.0,@ Article,['D DE PLANT SCIENCES'],ACT BIO C B,ACTA BIOL CRACOV BOT,ACTA BIOL CRACOV SER BOT,Acta Biol. Crac. Ser. Bot.
A1954UF73200026,13.0,,1954.0,@ Article,-1,COMPT REND,CR HEBD ACAD SCI,C R HEBD SEAN ACAD SCI,-1
A1993LX59200002,172.0,SEP,1993.0,@ Article,D DE PLANT SCIENCES,PLANT PHYSL,PLANT PHYSIOL,PLANT PHYSIOL,Plant Physiol.
000183262600008,31.0,JUN,2003.0,R Review,D DE PLANT SCIENCES,CUR OPIN PL,CURR OPIN PLANT BIOL,CURR OPIN PLANT BIOL,Curr. Opin. Plant Biol.
000321228000014,7.0,,2013.0,@ Article,D DE PLANT SCIENCES,TURK J BOT,TURK J BOT,TURK J BOT,Turk. J. Bot.

In [22]:
ref_df_min

,occurence,paper_UT,paper_char_pos,paper_word_pos,para_char_pos,para_char_total,para_index,para_word_pos,para_word_total,reference_UT,...,sect_char_pos,sect_char_total,sect_index,sect_word_pos,sect_word_total,section_title,section_title_alt,regex_sect_index,ref_datetime,plos_datetime
0,1,324515600133,139,21,139,820,0,21,130,A1995QY75100004,...,139,4029,0,21,658,Introduction,introduction,0,1995-05-15 00:00:00,2013-09-04 00:00:00
1,2,324515600133,16829,2992,494,1208,24,76,188,A1995QY75100004,...,494,5398,3,76,864,Discussion,discussion,3,1995-05-15 00:00:00,2013-09-04 00:00:00
2,3,324515600133,17257,3057,922,1208,24,141,188,A1995QY75100004,...,922,5398,3,141,864,Discussion,discussion,3,1995-05-15 00:00:00,2013-09-04 00:00:00
3,1,324515600133,266,42,266,820,0,42,130,000222499800017,...,266,4029,0,42,658,Introduction,introduction,0,2004-06-15 00:00:00,2013-09-04 00:00:00
4,2,324515600133,444,73,444,820,0,73,130,000222499800017,...,444,4029,0,73,658,Introduction,introduction,0,2004-06-15 00:00:00,2013-09-04 00:00:00
5,3,324515600133,16830,2993,495,1208,24,77,188,000222499800017,...,495,5398,3,77,864,Discussion,discussion,3,2004-06-15 00:00:00,2013-09-04 00:00:00
6,4,324515600133,17110,3035,775,1208,24,119,188,000222499800017,...,775,5398,3,119,864,Discussion,discussion,3,2004-06-15 00:00:00,2013-09-04 00:00:00
7,5,324515600133,17258,3058,923,1208,24,142,188,000222499800017,...,923,5398,3,142,864,Discussion,discussion,3,2004-06-15 00:00:00,2013-09-04 00:00:00
8,1,324515600133,142,22,142,820,0,22,130,000263911400006,...,142,4029,0,22,658,Introduction,introduction,0,2009-04-15 00:00:00,2013-09-04 00:00:00
9,2,324515600133,445,74,445,820,0,74,130,000263911400006,...,445,4029,0,74,658,Introduction,introduction,0,2009-04-15 00:00:00,2013-09-04 00:00:00
10,1,324515600133,269,43,269,820,0,43,130,000289279600018,...,269,4029,0,43,658,Introduction,introduction,0,2011-05-15 00:00:00,2013-09-04 00:00:00
11,2,324515600133,628,98,628,820,0,98,130,000289279600018,...,628,4029,0,98,658,Introduction,introduction,0,2011-05-15 00:00:00,2013-09-04 00:00:00
12,3,324515600133,20179,3546,210,890,28,27,127,000289279600018,...,3844,5398,3,630,864,Discussion,discussion,3,2011-05-15 00:00:00,2013-09-04 00:00:00
13,1,324515600133,1635,261,815,820,1,131,134,000287717700023,...,1635,4029,0,261,658,Introduction,introduction,0,-1,2013-09-04 00:00:00
14,1,324515600133,2326,380,686,837,2,116,144,-1,...,2326,4029,0,380,658,Introduction,introduction,0,-1,2013-09-04 00:00:00
15,1,324515600133,2177,351,537,837,2,87,144,000257589600013,...,2177,4029,0,351,658,Introduction,introduction,0,2008-08-15 00:00:00,2013-09-04 00:00:00
16,2,324515600133,18913,3334,101,1157,27,18,203,000257589600013,...,2578,5398,3,418,864,Discussion,discussion,3,2008-08-15 00:00:00,2013-09-04 00:00:00
17,1,324515600133,1638,262,818,820,1,132,134,000246465200001,...,1638,4029,0,262,658,Introduction,introduction,0,2007-04-15 00:00:00,2013-09-04 00:00:00
18,2,324515600133,2178,352,538,837,2,88,144,000246465200001,...,2178,4029,0,352,658,Introduction,introduction,0,2007-04-15 00:00:00,2013-09-04 00:00:00
19,3,324515600133,18914,3335,102,1157,27,19,203,000246465200001,...,2579,5398,3,419,864,Discussion,discussion,3,2007-04-15 00:00:00,2013-09-04 00:00:00
20,1,324515600133,1754,283,114,837,2,19,144,000238112100022,...,1754,4029,0,283,658,Introduction,introduction,0,2006-06-15 00:00:00,2013-09-04 00:00:00
21,2,324515600133,1942,311,302,837,2,47,144,000238112100022,...,1942,4029,0,311,658,Introduction,introduction,0,2006-06-15 00:00:00,2013-09-04 00:00:00
22,1,324515600133,1755,284,115,837,2,20,144,000266227800006,...,1755,4029,0,284,658,Introduction,introduction,0,2009-06-15 00:00:00,2013-09-04 00:00:00
23,2,324515600133,2179,353,539,837,2,89,144,000266227800006,...,2179,4029,0,353,658,Introduction,introduction,0,2009-06-15 00:00:00,2013-09-04 00:00:00
24,3,324515600133,18915,3336,103,1157,27,20,203,000266227800006,...,2580,5398,3,420,864,Discussion,discussion,3,2009-06-15 00:00:00,2013-09-04 00:00:00
25,1,324515600133,2180,354,540,837,2,90,144,-1,...,2180,4029,0,354,658,Introduction,introduction,0,-1,2013-09-04 00:00:00
26,2,324515600133,2327,381,687,837,2,117,144,-1,...,2327,4029,0,381,658,Introduction,introduction,0,-1,2013-09-04 00:00:00
27,3,324515600133,18916,3337,104,1157,27,21,203,-1,...,2581,5398,3,421,864,Discussion,discussion,3,-1,2013-09-04 00:00:00
28,1,324515600133,2635,434,158,1112,3,26,184,000220879700004,...,2635,4029,0,434,658,Introduction,introduction,0,2004-04-19 00:00:00,2013-09-04 00:00:00
29,1,324515600133,2638,435,161,1112,3,27,184,000177105200006,...,2638,4029,0,435,658,Introduction,introduction,0,2002-07-26 00:00:00,2013-09-04 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10848590,1,321341000076,8575,1476,891,1045,12,132,160,000247935300010,...,891,6899,3,132,1111,Discussion,,3,2007-07-15 00:00:00,2013-07-02 00:00:00
10848591,1,321341000076,8945,1536,216,1484,13,32,241,A1982PW56700007,...,1261,6899,3,192,1111,Discussion,,3,-1,2013-07-02 00:00:00
10848592,1,321341000076,9288,1597,559,1484,13,93,241,A1980KX98200001,...,1604,6899,3,253,1111,Discussion,,3,-1,2013-07-02 00:00:00
10848593,2,321341000076,10268,1754,55,1679,14,9,283,A1980KX98200001,...,2584,6899,3,410,1111,Discussion,,3,-1,2013-07-02 00:00:00
10848594,1,321341000076,9290,1598,561,1484,13,94,241,000301971900007,...,1606,6899,3,254,1111,Discussion,,3,2012-04-15 00:00:00,2013-07-02 00:00:00
10848595,1,321341000076,9426,1618,697,1484,13,114,241,-1,...,1742,6899,3,274,1111,Discussion,,3,-1,2013-07-02 00:00:00
10848596,1,321341000076,9517,1631,788,1484,13,127,241,000264005500007,...,1833,6899,3,287,1111,Discussion,,3,2009-03-15 00:00:00,2013-07-02 00:00:00
10848597,1,321341000076,9762,1671,1033,1484,13,167,241,000080163800019,...,2078,6899,3,327,1111,Discussion,,3,1999-04-15 00:00:00,2013-07-02 00:00:00
10848598,2,321341000076,10270,1755,57,1679,14,10,283,000080163800019,...,2586,6899,3,411,1111,Discussion,,3,1999-04-15 00:00:00,2013-07-02 00:00:00
10848599,3,321341000076,11381,1948,1168,1679,14,203,283,000080163800019,...,3697,6899,3,604,1111,Discussion,,3,1999-04-15 00:00:00,2013-07-02 00:00:00
10848600,4,321341000076,13578,2304,854,859,16,143,146,000080163800019,...,5894,6899,3,960,1111,Discussion,,3,1999-04-15 00:00:00,2013-07-02 00:00:00
10848601,1,321341000076,9867,1687,1138,1484,13,183,241,000185745000010,...,2183,6899,3,343,1111,Discussion,,3,-1,2013-07-02 00:00:00
10848602,2,321341000076,10212,1744,1483,1484,13,240,241,000185745000010,...,2528,6899,3,400,1111,Discussion,,3,-1,2013-07-02 00:00:00
10848603,1,321341000076,9962,1702,1233,1484,13,198,241,A1982PH38400012,...,2278,6899,3,358,1111,Discussion,,3,-1,2013-07-02 00:00:00
10848604,1,321341000076,9994,1707,1265,1484,13,203,241,A1989AE93800008,...,2310,6899,3,363,1111,Discussion,,3,1989-06-15 00:00:00,2013-07-02 00:00:00
10848605,1,321341000076,11265,1932,1052,1679,14,187,283,000173977100041,...,3581,6899,3,588,1111,Discussion,,3,2002-02-15 00:00:00,2013-07-02 00:00:00
10848606,1,321341000076,11712,1999,1499,1679,14,254,283,000175801600018,...,4028,6899,3,655,1111,Discussion,,3,2002-05-28 00:00:00,2013-07-02 00:00:00
10848607,1,321341000076,11714,2000,1501,1679,14,255,283,000220747700018,...,4030,6899,3,656,1111,Discussion,,3,2004-04-15 00:00:00,2013-07-02 00:00:00
10848608,1,321341000076,12370,2105,478,832,15,77,133,000174377700007,...,4686,6899,3,761,1111,Discussion,,3,2002-01-15 00:00:00,2013-07-02 00:00:00
10848609,1,321341000076,12372,2106,480,832,15,78,133,000271586700013,...,4688,6899,3,762,1111,Discussion,,3,-1,2013-07-02 00:00:00
10848610,1,321341000076,12515,2129,623,832,15,101,133,000221871800012,...,4831,6899,3,785,1111,Discussion,,3,2004-06-15 00:00:00,2013-07-02 00:00:00
10848611,2,321341000076,13452,2284,728,859,16,123,146,000221871800012,...,5768,6899,3,940,1111,Discussion,,3,2004-06-15 00:00:00,2013-07-02 00:00:00
10848612,3,321341000076,13580,2305,856,859,16,144,146,000221871800012,...,5896,6899,3,961,1111,Discussion,,3,2004-06-15 00:00:00,2013-07-02 00:00:00
10848613,1,321341000076,12659,2148,767,832,15,120,133,A1954UF73200026,...,4975,6899,3,804,1111,Discussion,,3,-1,2013-07-02 00:00:00
10848614,1,321341000076,12661,2149,769,832,15,121,133,-1,...,4977,6899,3,805,1111,Discussion,,3,-1,2013-07-02 00:00:00
10848615,1,321341000076,13152,2230,428,859,16,69,146,-1,...,5468,6899,3,886,1111,Discussion,,3,-1,2013-07-02 00:00:00
10848616,1,321341000076,13154,2231,430,859,16,70,146,000176187500027,...,5470,6899,3,887,1111,Discussion,,3,-1,2013-07-02 00:00:00
10848617,1,321341000076,13361,2269,637,859,16,108,146,A1993LX59200002,...,5677,6899,3,925,1111,Discussion,,3,1993-09-15 00:00:00,2013-07-02 00:00:00
10848618,1,321341000076,13364,2270,640,859,16,109,146,000183262600008,...,5680,6899,3,926,1111,Discussion,,3,2003-06-15 00:00:00,2013-07-02 00:00:00
10848619,1,321341000076,13582,2306,858,859,16,145,146,000321228000014,...,5898,6899,3,962,1111,Discussion,,3,-1,2013-07-02 00:00:00

### Option 2: Single pickle file (not preferred)

In [ ]:
with open('../../data/itc_df.pkl', 'wb') as handle:
    pickle.dump(df, handle, protocol = 2)

In [ ]:
# Extra checks below, mainly checking for column type homogeneity

In [ ]:
type_list_2 = []
for i in df['section_title_alt']:
    if isinstance(i, float):
        if i not in type_list_2:
            type_list_2.append(i)
print(type_list_2)

In [ ]:
cols = nan_cols
for j in cols:
    type_list =[]
    for i in df[j]:
        if type(i) not in type_list:
            type_list.append(type(i))
            print(i)
    print(type_list)

My own selection of fields

In [ ]:
#sorted(df.columns)

# ['cite_count',
#  'occurence',
#  'paper_UT',
#  'paper_char_pos',
#  'paper_char_total',
#  'paper_cite_count',
#  'paper_word_pos',
#  'paper_word_total',
#  'para_char_pos',
#  'para_char_total',
#  'para_index',
#  'para_word_pos',
#  'para_word_total',
#  'plos_article_type',
#  'plos_field',
#  'plos_j1',
#  'plos_j2',
#  'plos_j9',
#  'plos_ji',
#  'plos_pub_date',
#  'plos_pub_year',
#  'ref_article_type',
#  'ref_field',
#  'ref_j1',
#  'ref_j2',
#  'ref_j9',
#  'ref_ji',
#  'ref_pub_date',
#  'ref_pub_year',
#  'reference_UT',
#  'reference_rank',
#  'sect_char_pos',
#  'sect_char_total',
#  'sect_index',
#  'sect_word_pos',
#  'sect_word_total',
#  'section_title',
#  'section_title_alt',
#  'total_refs']

In [ ]:
# Now to make a smaller dataframe with the new data, simply select the associated colummns.
selection_df = df[['section_simplified','ref_pub_year',  'reference_UT', 'paper_UT','paper_cite_count', 'reference_rank','ref_field',  'ref_j1','total_refs', 'plos_pub_year', 'plos_field', 'cite_count', 'occurence'  ]]

print (selection_df.shape)
# selection_df_unique = selection_df.drop_duplicates()
# print (selection_df_unique.shape)




# Drop all non-unique fields. Note that coincidentally overlapping rows with -1 for ut will be dropped as well
# plos_df_unique = plos_df.drop_duplicates('paper_UT')


# For completeness, then drop all non-UT fields that are already contained in the plos_df and citation_df dataframes
# ref_df_min = df.drop(['paper_cite_count','total_refs', 'paper_char_total', 'paper_word_total', 'plos_pub_date', 'plos_pub_year', 'plos_article_type', 'cite_count','ref_pub_date','ref_pub_year', 'ref_article_type', 'plos_field','ref_field', 'plos_field', 'plos_j1', 'ref_j1', 'ref_j2',
#        'ref_j9', 'ref_ji', 'plos_j2', 'plos_j9', 'plos_ji'], 1)






# Reassign the index to be the respective UT column. May have to manually drop non-information rows with 
#(indicated by a -1 UT, as no information is possible to be matched in primary dataframe)

# plos_df_small = plos_df_unique.set_index('paper_UT')
# #plos_df_small = plos_df_small.drop(-1,0)
# citation_df_small = citation_df_unique.set_index('reference_UT')
# #citation_df_small = citation_df_small.drop(-1,0)




#Lastly, pickle them
filename='../../data/selection_df.pickle'
with open(filename, 'wb') as handle:
    pickle.dump(selection_df, handle, protocol = 2)
print ("written:", filename)

In [ ]:

df_clean  = selection_df[selection_df["paper_UT"] == -1]

In [ ]:
df_clean.shape

In [ ]:
selection_df

In [ ]:
df.groupby(["section_title_alt"]).size()

In [ ]:
df.columns